<!--
© Siemens AG, 2018-2019
Author: Berkay Alp Cakal (berkay_alp.cakal.ct@siemens.com)

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
<http://www.apache.org/licenses/LICENSE-2.0>.
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<launch>

	<include file="$(find file_server)/launch/ros_sharp_communication.launch">
		<arg name="port" value="9090" />
	</include>

	<arg name="arm" default="gen3"/>
	<arg name="dof" default="6" if="$(eval arg('arm') == 'gen3_lite')"/>
	<arg name="vision" default="true"/>
	<arg name="urdf_file" command="$(find xacro)/xacro --inorder $(find kortex_description)/robots/$(arg arm).xacro dof:=$(arg dof) vision:=$(arg vision) sim:=true" />
	
	<param name="robot/name" value="my_gen3" />
	<param name="robot_description" command="$(find xacro)/xacro --inorder $(find file_server)/robots/$(arg arm).xacro dof:=$(arg dof) vision:=$(arg vision) sim:=true"
        if="$(eval not arg('gripper'))"/>
    <!-- With gripper -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find kortex_description)/robots/$(arg arm)_$(arg gripper).xacro dof:=$(arg dof) vision:=$(arg vision) sim:=true"
        unless="$(eval not arg('gripper'))"/>

</launch>
